"concurrency":
  "group": "check-${{ github.sha }}"
"env":
  "RELEASE_LIB_REF": "${{ inputs.release_lib_ref }}"
  "USE_GITHUB_APP_TOKEN": "${{ inputs.use_github_app_token }}"
"jobs":
  "check":
    "env":
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "needs":
    - "checkFiles"
    - "faillint"
    - "golangciLint"
    - "lintFiles"
    - "integration"
    - "testPackages"
    - "testPushPackage"
    "runs-on": "ubuntu-latest"
    "steps":
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "checks passed"
      "run": |
        echo "All checks passed"
  "checkFiles":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "pull code to release"
      "uses": "actions/checkout@v4"
      "with":
        "path": "release"
        "persist-credentials": false
        "repository": "${{ env.RELEASE_REPO }}"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "persist-credentials": false
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) && startsWith(inputs.build_image, 'golang') }}"
      "name": "install dependencies"
      "run": "lib/workflows/install_workflow_dependencies.sh loki-release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install tar"
      "run": |
        apt update
        apt install -qy tar xz-utils
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install shellcheck"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "shellcheck"
        "download_url": "https://github.com/koalaman/shellcheck/releases/download/v${version}/shellcheck-v${version}.linux.x86_64.tar.xz"
        "smoke_test": "${binary} --version"
        "tar_args": "xvf"
        "tarball_binary_path": "*/${binary}"
        "version": "0.9.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check generated files"
      "run": "make check-generated-files"
      "working-directory": "release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check mod"
      "run": "make check-mod"
      "working-directory": "release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check docs"
      "run": "make check-doc"
      "working-directory": "release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "validate example configs"
      "run": "make validate-example-configs"
      "working-directory": "release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "validate dev cluster config"
      "run": "make validate-dev-cluster-config"
      "working-directory": "release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check example config docs"
      "run": "make check-example-config-doc"
      "working-directory": "release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check helm reference doc"
      "run": "make documentation-helm-reference-check"
      "working-directory": "release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "build docs website"
      "run": |
        cat <<EOF | docker run \
          --interactive \
          --env BUILD_IN_CONTAINER \
          --env DRONE_TAG \
          --env IMAGE_TAG \
          --volume .:/src/loki \
          --workdir /src/loki \
          --entrypoint /bin/sh "grafana/docs-base:e6ef023f8b8"
          git config --global --add safe.directory /src/loki
          mkdir -p /hugo/content/docs/loki/latest
          cp -r docs/sources/* /hugo/content/docs/loki/latest/
          cd /hugo && make prod
        EOF
      "working-directory": "release"
  "collectPackages":
    "outputs":
      "packages": "${{ steps.gather-tests.outputs.packages }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
      "with":
        "persist-credentials": false
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "id": "gather-tests"
      "name": "gather packages"
      "run": |
        echo "packages=$(find . -path '*_test.go' -printf '%h\n' \
          | grep -e "pkg/push" -e "integration" -e "operator" -e "helm" -v \
          | cut  -d / -f 2,3 \
          | uniq \
          | sort \
          | jq --raw-input --slurp --compact-output 'split("\n")[:-1]')" >> ${GITHUB_OUTPUT}
  "failCheck":
    "env":
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "if": "${{ !fromJSON(inputs.skip_validation) && (cancelled() || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'failure')) }}"
    "needs":
    - "checkFiles"
    - "faillint"
    - "golangciLint"
    - "lintFiles"
    - "integration"
    - "testPackages"
    - "testPushPackage"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "verify checks passed"
      "run": |
        echo "Some checks have failed!"
        exit 1,
  "faillint":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "pull code to release"
      "uses": "actions/checkout@v4"
      "with":
        "path": "release"
        "persist-credentials": false
        "repository": "${{ env.RELEASE_REPO }}"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "persist-credentials": false
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) && startsWith(inputs.build_image, 'golang') }}"
      "name": "install dependencies"
      "run": "lib/workflows/install_workflow_dependencies.sh loki-release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "faillint"
      "run": |
        faillint -paths "sync/atomic=go.uber.org/atomic" ./...
      "working-directory": "release"
  "golangciLint":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "pull code to release"
      "uses": "actions/checkout@v4"
      "with":
        "path": "release"
        "persist-credentials": false
        "repository": "${{ env.RELEASE_REPO }}"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "persist-credentials": false
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) && startsWith(inputs.build_image, 'golang') }}"
      "name": "install dependencies"
      "run": "lib/workflows/install_workflow_dependencies.sh loki-release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install tar"
      "run": |
        apt update
        apt install -qy tar xz-utils
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install shellcheck"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "shellcheck"
        "download_url": "https://github.com/koalaman/shellcheck/releases/download/v${version}/shellcheck-v${version}.linux.x86_64.tar.xz"
        "smoke_test": "${binary} --version"
        "tar_args": "xvf"
        "tarball_binary_path": "*/${binary}"
        "version": "0.9.0"
    - "name": "checkout"
      "uses": "actions/checkout@v4"
      "with":
        "persist-credentials": false
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "golangci-lint"
      "uses": "golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9"
      "with":
        "args": "-v --timeout 15m --build-tags linux,promtail_journal_enabled"
        "only-new-issues": false
        "version": "${{ inputs.golang_ci_lint_version }}"
  "integration":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "pull code to release"
      "uses": "actions/checkout@v4"
      "with":
        "path": "release"
        "persist-credentials": false
        "repository": "${{ env.RELEASE_REPO }}"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "integration"
      "run": "make test-integration"
      "working-directory": "release"
  "lintFiles":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "pull code to release"
      "uses": "actions/checkout@v4"
      "with":
        "path": "release"
        "persist-credentials": false
        "repository": "${{ env.RELEASE_REPO }}"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "persist-credentials": false
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) && startsWith(inputs.build_image, 'golang') }}"
      "name": "install dependencies"
      "run": "lib/workflows/install_workflow_dependencies.sh loki-release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install tar"
      "run": |
        apt update
        apt install -qy tar xz-utils
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install shellcheck"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "shellcheck"
        "download_url": "https://github.com/koalaman/shellcheck/releases/download/v${version}/shellcheck-v${version}.linux.x86_64.tar.xz"
        "smoke_test": "${binary} --version"
        "tar_args": "xvf"
        "tarball_binary_path": "*/${binary}"
        "version": "0.9.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "lint scripts"
      "run": "make lint-scripts"
      "working-directory": "release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check format"
      "run": |
        git fetch origin
        make check-format
      "working-directory": "release"
  "testPackages":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "MATRIX_PACKAGE": "${{ matrix.package }}"
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "needs":
    - "collectPackages"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "pull code to release"
      "uses": "actions/checkout@v4"
      "with":
        "path": "release"
        "persist-credentials": false
        "repository": "${{ env.RELEASE_REPO }}"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "persist-credentials": false
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) && startsWith(inputs.build_image, 'golang') }}"
      "name": "install dependencies"
      "run": "lib/workflows/install_workflow_dependencies.sh loki-release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "test ${{ matrix.package }}"
      "run": |
        gotestsum -- -tags=assert -covermode=atomic -coverprofile=coverage.txt -p=4 ./${MATRIX_PACKAGE}/...
      "working-directory": "release"
    "strategy":
      "matrix":
        "package": "${{fromJson(needs.collectPackages.outputs.packages)}}"
  "testPushPackage":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "pull code to release"
      "uses": "actions/checkout@v4"
      "with":
        "path": "release"
        "persist-credentials": false
        "repository": "${{ env.RELEASE_REPO }}"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "persist-credentials": false
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) && startsWith(inputs.build_image, 'golang') }}"
      "name": "install dependencies"
      "run": "lib/workflows/install_workflow_dependencies.sh loki-release"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "go mod tidy"
      "run": |
        go mod tidy
      "working-directory": "release/pkg/push"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "test push package"
      "run": |
        gotestsum -- -covermode=atomic -coverprofile=coverage.txt -p=4 ./...
      "working-directory": "release/pkg/push"
"name": "check"
"on":
  "workflow_call":
    "inputs":
      "build_image":
        "description": "loki build image to use"
        "required": true
        "type": "string"
      "golang_ci_lint_version":
        "default": "v2.3.0"
        "description": "version of golangci-lint to use"
        "required": false
        "type": "string"
      "release_lib_ref":
        "default": "main"
        "description": "git ref of release library to use"
        "required": false
        "type": "string"
      "skip_validation":
        "default": false
        "description": "skip validation steps"
        "required": false
        "type": "boolean"
      "use_github_app_token":
        "default": true
        "description": "whether to use the GitHub App token for GH_TOKEN secret"
        "required": false
        "type": "boolean"
"permissions":
  "contents": "read"
  "pull-requests": "read"
