"concurrency":
  "group": "check-${{ github.sha }}"
"env":
  "RELEASE_LIB_REF": "${{ inputs.release_lib_ref }}"
  "USE_GITHUB_APP_TOKEN": "${{ inputs.use_github_app_token }}"
"jobs":
  "check":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install tar"
      "run": |
        apt update
        apt install -qy tar xz-utils
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install shellcheck"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "shellcheck"
        "download_url": "https://github.com/koalaman/shellcheck/releases/download/v${version}/shellcheck-v${version}.linux.x86_64.tar.xz"
        "smoke_test": "${binary} --version"
        "tar_args": "xvf"
        "tarball_binary_path": "*/${binary}"
        "version": "0.9.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check generated files"
      "run": "make check-generated-files"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check mod"
      "run": "make check-mod"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check docs"
      "run": "make check-doc"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "validate example configs"
      "run": "make validate-example-configs"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "validate dev cluster config"
      "run": "make validate-dev-cluster-config"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check example config docs"
      "run": "make check-example-config-doc"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check helm reference doc"
      "run": "make documentation-helm-reference-check"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check drone drift"
      "run": "make check-drone-drift"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "build docs website"
      "run": |
        cat <<EOF | docker run \
          --interactive \
          --env BUILD_IN_CONTAINER \
          --env DRONE_TAG \
          --env IMAGE_TAG \
          --volume .:/src/loki \
          --workdir /src/loki \
          --entrypoint /bin/sh "grafana/docs-base:e6ef023f8b8"
          git config --global --add safe.directory /src/loki
          mkdir -p /hugo/content/docs/loki/latest
          cp -r docs/sources/* /hugo/content/docs/loki/latest/
          cd /hugo && make prod
        EOF
  "collectTests":
    "outputs":
      "commands": "${{ steps.gather-tests.outputs.commands }}"
      "packages": "${{ steps.gather-tests.outputs.packages }}"
      "tools": "${{ steps.gather-tests.outputs.tools }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "id": "gather-tests"
      "name": "gather packages"
      "run": |
        echo "packages=$(ls -d pkg/*/ | grep -v "push" | jq --raw-input --slurp --compact-output 'split("\n")[:-1]')" >> ${GITHUB_OUTPUT}
        echo "commands=$(ls -d cmd/*/ | jq --raw-input --slurp --compact-output 'split("\n")[:-1]')" >> ${GITHUB_OUTPUT}
        echo "tools=$(ls -d tools/*/ | jq --raw-input --slurp --compact-output 'split("\n")[:-1]')" >> ${GITHUB_OUTPUT}
  "integration":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install tar"
      "run": |
        apt update
        apt install -qy tar xz-utils
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install shellcheck"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "shellcheck"
        "download_url": "https://github.com/koalaman/shellcheck/releases/download/v${version}/shellcheck-v${version}.linux.x86_64.tar.xz"
        "smoke_test": "${binary} --version"
        "tar_args": "xvf"
        "tarball_binary_path": "*/${binary}"
        "version": "0.9.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "integration"
      "run": "make test-integration"
  "lint":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install tar"
      "run": |
        apt update
        apt install -qy tar xz-utils
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install shellcheck"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "shellcheck"
        "download_url": "https://github.com/koalaman/shellcheck/releases/download/v${version}/shellcheck-v${version}.linux.x86_64.tar.xz"
        "smoke_test": "${binary} --version"
        "tar_args": "xvf"
        "tarball_binary_path": "*/${binary}"
        "version": "0.9.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "lint"
      "run": "make lint"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "lint scripts"
      "run": "make lint-scripts"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check format"
      "run": |
        git fetch origin
        make check-format
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "golangci-lint"
      "uses": "golangci/golangci-lint-action@08e2f20817b15149a52b5b3ebe7de50aff2ba8c5"
      "with":
        "only-new-issues": true
        "version": "${{ inputs.golang_ci_lint_version }}"
  "test":
    "needs":
    - "testPackages"
    - "testCommands"
    - "testTools"
    - "testOperator"
    "runs-on": "ubuntu-latest"
    "steps":
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "tesstepst"
      "run": |
        echo "All tests passed"
  "testCommands":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "needs":
    - "collectTests"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "test ${{ matrix.package }}"
      "run": |
        gotestsum --packages="./${{ matrix.command }}" --rerun-rails=2 -- -covermode=atomic -coverprofile=coverage.txt -p=4
    "strategy":
      "matrix":
        "command": "${{fromJson(needs.collectPackages.outputs.commands)}}"
  "testOperator":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install tar"
      "run": |
        apt update
        apt install -qy tar xz-utils
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install shellcheck"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "shellcheck"
        "download_url": "https://github.com/koalaman/shellcheck/releases/download/v${version}/shellcheck-v${version}.linux.x86_64.tar.xz"
        "smoke_test": "${binary} --version"
        "tar_args": "xvf"
        "tarball_binary_path": "*/${binary}"
        "version": "0.9.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "operator"
      "run": "make test"
      "working-directory": "operator"
  "testPackages":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "needs":
    - "collectTests"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "test ${{ matrix.package }}"
      "run": |
        echo "current directory:"
        pwd
        echo "\ncurrent directory contents:"
        ls
        echo "\npackage directory contents:"
        ls ./${{ matrix.package }}
        gotestsum -- -covermode=atomic -coverprofile=coverage.txt -p=4 ./${{ matrix.package }}...
    "strategy":
      "matrix":
        "package": "${{fromJson(needs.collectTests.outputs.packages)}}"
  "testTools":
    "container":
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "needs":
    - "collectTests"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "test ${{ matrix.package }}"
      "run": |
        gotestsum --packages="./${{ matrix.tool }}" --rerun-fails=2 -- -covermode=atomic -coverprofile=coverage.txt -p=4
    "strategy":
      "matrix":
        "tool": "${{fromJson(needs.collectPackages.outputs.tools)}}"
"name": "check"
"on":
  "workflow_call":
    "inputs":
      "build_image":
        "description": "loki build image to use"
        "required": true
        "type": "string"
      "golang_ci_lint_version":
        "default": "v1.55.1"
        "description": "version of golangci-lint to use"
        "required": false
        "type": "string"
      "release_lib_ref":
        "default": "main"
        "description": "git ref of release library to use"
        "required": false
        "type": "string"
      "skip_validation":
        "default": false
        "description": "skip validation steps"
        "required": false
        "type": "boolean"
      "use_github_app_token":
        "default": true
        "description": "whether to use the GitHub App token for GH_TOKEN secret"
        "required": false
        "type": "boolean"
"permissions":
  "contents": "write"
  "id-token": "write"
  "pull-requests": "write"
