"concurrency":
  "group": "check-${{ github.sha }}"
"env":
  "RELEASE_LIB_REF": "${{ inputs.release_lib_ref }}"
  "USE_GITHUB_APP_TOKEN": "${{ inputs.use_github_app_token }}"
"jobs":
  "check":
    "container":
      "credentials":
        "password": "${{ secrets.GCS_SERVICE_ACCOUNT_KEY }}"
        "username": "_json_key"
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install dependencies"
      "run": |
        apt update
        apt install -qy tar xz-utils
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install shellcheck"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "shellcheck"
        "download_url": "https://github.com/koalaman/shellcheck/releases/download/v${version}/shellcheck-v${version}.linux.x86_64.tar.xz"
        "smoke_test": "${binary} --version"
        "tar_args": "xvf"
        "tarball_binary_path": "*/${binary}"
        "version": "0.9.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install jsonnetfmt"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "jsonnetfmt"
        "download_url": "https://github.com/google/go-jsonnet/releases/download/v${version}/go-jsonnet_${version}_Linux_x86_64.tar.gz"
        "smoke_test": "${binary} --version"
        "tarball_binary_path": "${binary}"
        "version": "0.18.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "build enterprise logs"
      "run": "make all"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "check docs"
      "run": "make check-docs"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "build docs website"
      "run": |
        cat <<EOF | docker run \
          --interactive \
          --env BUILD_IN_CONTAINER \
          --env DRONE_TAG \
          --env IMAGE_TAG \
          --volume .:/src/loki \
          --workdir /src/loki \
          --entrypoint /bin/sh "grafana/docs-base:e6ef023f8b8"
          git config --global --add safe.directory /src/loki
          mkdir -p /hugo/content/docs/loki/latest
          cp -r docs/sources/* /hugo/content/docs/loki/latest/
          cd /hugo && make prod
        EOF
  "lint":
    "container":
      "credentials":
        "password": "${{ secrets.GCS_SERVICE_ACCOUNT_KEY }}"
        "username": "_json_key"
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install dependencies"
      "run": |
        apt update
        apt install -qy tar xz-utils
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install shellcheck"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "shellcheck"
        "download_url": "https://github.com/koalaman/shellcheck/releases/download/v${version}/shellcheck-v${version}.linux.x86_64.tar.xz"
        "smoke_test": "${binary} --version"
        "tar_args": "xvf"
        "tarball_binary_path": "*/${binary}"
        "version": "0.9.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install jsonnetfmt"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "jsonnetfmt"
        "download_url": "https://github.com/google/go-jsonnet/releases/download/v${version}/go-jsonnet_${version}_Linux_x86_64.tar.gz"
        "smoke_test": "${binary} --version"
        "tarball_binary_path": "${binary}"
        "version": "0.18.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "golangci-lint"
      "uses": "golangci/golangci-lint-action@08e2f20817b15149a52b5b3ebe7de50aff2ba8c5"
      "with":
        "args": "--skip-files cmd/enterprise-logs/fips.go"
        "only-new-issues": true
        "version": "${{ inputs.golang_ci_lint_version }}"
  "test":
    "container":
      "credentials":
        "password": "${{ secrets.GCS_SERVICE_ACCOUNT_KEY }}"
        "username": "_json_key"
      "image": "${{ inputs.build_image }}"
    "env":
      "BUILD_IN_CONTAINER": false
      "SKIP_VALIDATION": "${{ inputs.skip_validation }}"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "checkout"
      "uses": "actions/checkout@v4"
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "fix git dubious ownership"
      "run": |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install dependencies"
      "run": |
        apt update
        apt install -qy tar xz-utils
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install shellcheck"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "shellcheck"
        "download_url": "https://github.com/koalaman/shellcheck/releases/download/v${version}/shellcheck-v${version}.linux.x86_64.tar.xz"
        "smoke_test": "${binary} --version"
        "tar_args": "xvf"
        "tarball_binary_path": "*/${binary}"
        "version": "0.9.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "install jsonnetfmt"
      "uses": "./lib/actions/install-binary"
      "with":
        "binary": "jsonnetfmt"
        "download_url": "https://github.com/google/go-jsonnet/releases/download/v${version}/go-jsonnet_${version}_Linux_x86_64.tar.gz"
        "smoke_test": "${binary} --version"
        "tarball_binary_path": "${binary}"
        "version": "0.18.0"
    - "if": "${{ !fromJSON(env.SKIP_VALIDATION) }}"
      "name": "test"
      "run": "make test"
"name": "check"
"on":
  "workflow_call":
    "inputs":
      "build_image":
        "description": "loki build image to use"
        "required": true
        "type": "string"
      "golang_ci_lint_version":
        "default": "v1.56.0"
        "description": "version of golangci-lint to use"
        "required": false
        "type": "string"
      "release_lib_ref":
        "default": "main"
        "description": "git ref of release library to use"
        "required": false
        "type": "string"
      "skip_validation":
        "default": false
        "description": "skip validation steps"
        "required": false
        "type": "boolean"
      "use_github_app_token":
        "default": true
        "description": "whether to use the GitHub App token for GH_TOKEN secret"
        "required": false
        "type": "boolean"
    "secrets":
      "GCS_SERVICE_ACCOUNT_KEY":
        "description": "GCS service account key"
        "required": true
"permissions":
  "contents": "write"
  "id-token": "write"
  "pull-requests": "write"
