---
name: Check PR
on:
  pull_request: {}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
          outputs_cache_hit: ${{ steps.cache-npm.outputs.cache-hit }}
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - if: ${{ outputs_cache_hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list

      - run: npm install
      - run: npm run lint
  actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
          outputs_cache_hit: ${{ steps.cache-npm.outputs.cache-hit }}
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - if: ${{ outputs_cache_hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list

      - run: npm install
      - run: npm run actions
      - run: |
          git diff --name-only -- "actions/**/*.js" | xargs --no-run-if-empty git diff --exit-code -- \
            || (echo "Change to actions detected, please run 'npm run actions' and commit the changes" && false)
  workflows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: kobtea/setup-jsonnet-action@v1
      - run: npm run workflows
      - run: |
          git diff --name-only -w -- ".github/workflows/*.yml" | xargs --no-run-if-empty git diff -w --exit-code -- \
            || (echo "Change to workflows detected, please run 'npm run workflows' and commit the changes" && false)
  test:
    runs-on: ubuntu-latest
    needs:
      - lint
      - actions
      - workflows
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
          outputs_cache_hit:  ${{ steps.cache-npm.outputs.cache-hit }}
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - if: ${{ outputs_cache_hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list

      - run: npm install
      - run: npm run ci-test
  check-title:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
