concurrency:
  group: "create-release-${{ github.sha }}"
jobs:
  release:
    runs-on: "ubuntu-latest"
    steps:
    - env:
        ACTIONS_STEP_DEBUG: "true"
      name: "auth gcs"
      uses: "google-github-actions/auth@v2"
      with:
        credentials_json: "${{ secrets.GCS_SERVICE_ACCOUNT_KEY }}"
    - env:
        ACTIONS_STEP_DEBUG: "true"
      name: "Set up Cloud SDK"
      uses: "google-github-actions/setup-gcloud@v1"
      with:
        version: ">= 452.0.0"
    - id: "extract_branch"
      name: "extract branch name"
      run: |
        if [[ "${{ inputs.release_repo }}" == "grafana/loki" ]]; then
          cd loki
          echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        else
          cd release
          echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        fi
      shell: "bash"
    - id: "create_release"
      name: "create release"
      uses: "google-github-actions/release-please-action@v4"
      with:
        repo-url: "${{ inputs.release_repo }}"
        target-branch: "${{ steps.extract_branch.outputs.branch }}"
    - if: "${{ steps.create_release.outputs.release_created }}"
      name: "download build artifacts"
      run: |
        gsutil cp -r gs://loki-build-artifacts/${{ steps.create_release.outputs.sha }}/dist .
        echo 'root'
        ls
        echo 'dist'
        ls dist
      shell: "bash"
    - if: "${{ steps.create_release.outputs.release_created }}"
      name: "upload artifacts"
      uses: "softprops/action-gh-release@v1"
      with:
        files: "dist/*"
        target_commitish: "${{ steps.create_release.outputs.sha }}"
name: "create release"
"on":
  workflow_call:
    inputs:
      release_pr_workflow:
        default: "release-pr.yml"
        description: "workflow file that created the release pr"
        required: false
        type: "string"
      release_repo:
        default: "grafana/loki"
        description: "repo to make release in"
        required: false
        type: "string"
    secrets:
      GCS_SERVICE_ACCOUNT_KEY:
        required: true
      GH_TOKEN:
        required: true
permissions:
  contents: "write"
  issues: "write"
  pull-requests: "write"
